{extend name='main'}

{block name="button"}
{if auth("wechatsamll/course_column/add")}
<button data-modal='{:url("add")}' data-title="添加电影" class='layui-btn layui-btn-sm layui-btn-primary'>添加电影</button>



{/if}
{/block}
{block name="content"}
<div class="think-box-shadow">
    {include file='allnearmovie/index_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name="list"}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th class='text-left nowrap'>电影名称</th>
            <th class='text-left nowrap'>电影封面图</th>
            <th class='text-left nowrap'>电影类型</th>
            <th class='text-left nowrap'>电影简介</th>
            <th class='text-left nowrap'>电影出自/时长</th>
            <th class='text-left nowrap'>电影主演</th>
            <th class='text-left nowrap'>电影评分</th>
            <th class='text-left nowrap'>影片上映时间</th>
            <th class='text-left nowrap'>电影票价</th>
            <th class='text-left nowrap'>电影播放厅号</th>
            <th class='text-left nowrap'>电影语言类型</th>
            <th class='text-left nowrap'>创建时间</th>
            <th></th>
        </tr>
        </thead>
        {foreach $list as $key=>$vo}
        <tr data-dbclick>
            <td class='list-table-check-td think-checkbox'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'>
            </td>
            <td class="text-left nowrap">
                <span class="font-w7">{$vo.name|default='-'}</span><br>
                <!--                            <span class="color-desc">{$vo.node|default='-'}</span>-->
            </td>
            <td class="text-left nowrap">
<!--                <span class="font-w7" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;max-width: 629px;">{$vo.logo|default='-'}</span><br>-->
                <p style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;max-width: 152px;" class="color-text">{$vo.logo|default='-'}</p>
                <!--                            <span class="color-desc">{$vo.node|default='-'}</span>-->
            </td>
            <td class="text-left nowrap">
                <span class="font-w7">{$vo.type|default='-'}</span><br>
                <!--                            <span class="color-desc">{$vo.node|default='-'}</span>-->
            </td>
            <td class="text-left nowrap">
<!--                <span class="font-w7">{$vo.introduction|default='-'}</span><br>-->
                <p style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;max-width: 152px;" class="color-text">{$vo.introduction|default='-'}</p>
                <!--                            <span class="color-desc">{$vo.node|default='-'}</span>-->
            </td>
            <td class="text-left nowrap">
                <span class="font-w7">{$vo.country|default='-'}</span><br>
                <!--                            <span class="color-desc">{$vo.node|default='-'}</span>-->
            </td>
            <td class="text-left nowrap">
                <span class="font-w7">{$vo.lead|default='-'}</span><br>
                <!--                            <span class="color-desc">{$vo.node|default='-'}</span>-->
            </td>
            <td class="text-left nowrap">
                <span class="font-w7">{$vo.score|default='-'}</span><br>
                <!--                            <span class="color-desc">{$vo.node|default='-'}</span>-->
            </td>
            <td class="text-left nowrap">
                <span class="font-w7">{$vo.showtime|default='-'}</span><br>
                <!--                            <span class="color-desc">{$vo.node|default='-'}</span>-->
            </td>
            <td class="text-left nowrap">
                <span class="font-w7">{$vo.money|default='-'}</span><br>
                <!--                            <span class="color-desc">{$vo.node|default='-'}</span>-->
            </td>
            <td class="text-left nowrap">
                <span class="font-w7">{$vo.room|default='-'}</span><br>
                <!--                            <span class="color-desc">{$vo.node|default='-'}</span>-->
            </td>
            <td class="text-left nowrap">
                <span class="font-w7">{$vo.language|default='-'}</span><br>
                <!--                            <span class="color-desc">{$vo.node|default='-'}</span>-->
            </td>

            <td class='text-left nowrap'>
                日期：{$vo.create_time|format_datetime|str_replace=' ','<br><span class="color-desc">时间：',###|raw}</span>
            </td>
            <td class='text-left nowrap'>
                {if auth("remove")}
                <a data-dbclick class="layui-btn layui-btn-sm" data-title="编辑电影" data-modal='{:url("edit")}?id={$vo.id}'>编辑</a>
                {/if}
                {if auth("remove")}
                <a data-dbclick class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除该电影吗？" data-action="{:url('remove')}" data-value="id#{$vo.id}" data-csrf="{:systoken('remove')}">删 除</a>
                {/if}
            </td>
        </tr>
        {/foreach}

        {/notempty}
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
</div>
{/block}
</body>
</html>