{extend name='main'}

{block name="button"}
{if auth("wechatsamll/course_column/add")}
<button data-modal='{:url("add")}' data-title="添加影院管理员" class='layui-btn layui-btn-sm layui-btn-primary'>添加影院管理员</button>
{/if}
{/block}

{block name="content"}
<div class="think-box-shadow">
    {include file='alladministrators/index_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name="list"}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th class='text-left nowrap'>电影管理员</th>
            <th class='text-left nowrap'>电影管理员手机号</th>
            <th class='text-left nowrap'>所属影院</th>
            <th class='text-left nowrap'>所属地址</th>
            <th class='text-left nowrap'>创建时间</th>
            <th></th>
        </tr>
        </thead>
        {foreach $list as $key=>$vo}
        <tr data-dbclick>
            <td class='list-table-check-td think-checkbox'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'>
            </td>
            <td class="text-left nowrap">
                <span class="font-w7">{$vo.name|default='-'}</span><br>
                <!--                            <span class="color-desc">{$vo.node|default='-'}</span>-->
            </td>
            <td class="text-left nowrap">
                <span class="font-w7">{$vo.phone|default='-'}</span><br>
                <!--                            <span class="color-desc">{$vo.node|default='-'}</span>-->
            </td>
            <td class='text-left nowrap'>
                <p class="color-text">{$vo.cinemaname|default='-'}</p>
            </td>
            <td class='text-left nowrap'>
                <p class="color-text">{$vo.cinemaaddress|default='-'}</p>
            </td>
            <td class='text-left nowrap'>
                日期：{$vo.create_time|format_datetime|str_replace=' ','<br><span class="color-desc">时间：',###|raw}</span>
            </td>
            <td class='text-left nowrap'>
                {if auth("remove")}
                <a data-dbclick class="layui-btn layui-btn-sm" data-title="编辑管理员" data-modal='{:url("edit")}?id={$vo.id}'>编辑</a>
                {/if}
                {if auth("remove")}
                <a data-dbclick class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除该管理员吗？" data-action="{:url('remove')}" data-value="id#{$vo.id}" data-csrf="{:systoken('remove')}">删 除</a>
                {/if}
            </td>
        </tr>
        {/foreach}

        {/notempty}
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
</div>
{/block}
</body>
</html>